:root {
    --accent-color: rgb(15, 95, 15);
    --vertical-margin: 50px;
    --horizontal-margin: 96px;
    --zoom: 100;
    --scale-factor: calc(var(--zoom) / 100);
    --pixels-per-inch: 96px;
    --page-width: calc(var(--pixels-per-inch) * 8.5);
    --page-height: calc(var(--pixels-per-inch) * 11);
    --page-margin: calc(var(--pixels-per-inch) * 0.5);
    --page-content-width: calc(var(--page-width) - 2 * var(--page-margin));
    --page-content-height: calc(var(--page-height) - 2 * var(--page-margin));
    --header-height: calc(var(--pixels-per-inch) * 1);
    --footer-height: calc(var(--pixels-per-inch) * 0.5);
    --body-height: calc(var(--page-content-height) - var(--header-height) - var(--footer-height));
    --rightcolumn-width: calc(var(--pixels-per-inch) * 5);
    --leftcolumn-width: calc(var(--page-content-width) - var(--rightcolumn-width));
    --section-margin: 15px;
}

body {
    background-image: repeating-linear-gradient(135deg, #6a6a6a, #6a6a6a 30px, #707070 30px, #707070 60px);
    background-attachment: fixed;
    margin: 0;
    min-width: calc(var(--page-width) * var(--scale-factor) + 2 * var(--horizontal-margin));
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: rgb(0, 0, 209);
    text-decoration: none;
}

a:hover {
    color:rgb(0, 0, 145);
}

.controls {
    width: 45px;
    padding: 5px;
    background-color: #333;
    border-radius: 0px 5px 5px 0px;
    position: fixed;
    left: 0;
    z-index: 1;

}

.control-container {
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    float: right;
}

.control-container:hover {
    background-color: #444;
}

.control-icon {
    color: #bbb;
    font-size: 30px;
}

.control-icon:hover {
    color: white;
}

.control-zoomslider-container {
    width: 40px;
    float: right;
}

.control-zoomslider-subcontainer {
    margin: auto;
    width: fit-content;
    text-align: center;
}

#control-zoomslider {
    height: 100px;
    width: 10px;
    border-radius: 5px;
    margin: auto;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}

.page {
    width: calc(var(--page-width) * var(--scale-factor));
    height: calc(var(--page-height) * var(--scale-factor));
    background-image: linear-gradient(rgba(240, 240, 240, 0.7), rgba(240, 240, 240, 0.7)), url("./background.png");
    background-size: cover;
    background-color: white;
    box-sizing: border-box;
    padding: calc(var(--page-margin) * var(--scale-factor));
    margin: auto;
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
    overflow: hidden;
    box-shadow: 0 0 20px 10px #383838;
}

.page:last-of-type {
    margin-bottom: 100px;
}

.page-content {
    transform-origin: top left;
    transform: scale(calc(var(--scale-factor)));
    width: var(--page-content-width);
    height: var(--page-content-height);
}

.page-header {
    width: var(--page-content-width);
    height: var(--header-height);
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 5px 3px lightgrey;
}

.page-body {
    width: var(--page-content-width);
    height: var(--body-height);
    position: absolute;
    top: var(--header-height);
    left: 0;
    box-sizing: border-box;
    margin-top: var(--section-margin);
}

.column-container {
    flex-direction: row;
    display: flex;
}

.column-container div {
    box-sizing: border-box;
    /* display: inline-block; */
}

.column-container div .section {
    height: 100%;
}

.column {
    box-sizing: border-box;
    padding-right: var(--section-margin);
    flex: 1;
}

.column:last-child {
    padding-right: 0
}

.page-leftcolumn {
    /* width: var(--leftcolumn-width); */
    /* height: var(--body-height); */
    /* position: absolute; */
    /* top: var(--header-height); */
    /* left: 0; */
    box-sizing: border-box;
    /* padding-right: 25px; */
    flex: 0.5;
    /* display: inline-block; */
}

.page-rightcolumn {
    /* width: var(--rightcolumn-width); */
    /* height: var(--body-height); */
    /* position: absolute; */
    /* top: var(--header-height); */
    /* right: 0; */
    padding-left: var(--section-margin);
    box-sizing: border-box;
    flex: 0.5;
    /* display: inline-block; */
}

.page-footer {
    width: var(--page-content-width);
    height: var(--footer-height);
    position: absolute;
    bottom: 0;
    left: 0;
}

.title {
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Belgrano', serif;
    text-decoration: underline;
}

.contact {
    text-align: center;
    margin-top: 5px;
    line-height: 1.4;
}

.section {
    margin-bottom: var(--section-margin);
    /* border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgrey; */
    background-color: white;
    box-shadow: 0 0 5px 3px lightgrey;
    /* padding-bottom: 10px;
    padding-right: 10px; */
    padding: 10px;
}

.section-header {
    color: var(--accent-color);
    font-size: 19px;
    font-weight: bolder;
    font-family: "Courier New", monospace;
    margin-bottom: 10px;
}

.section-item {
    margin-bottom: 10px;
}

.section-item:last-child {
    margin-bottom: 0;
}

.section-item-title {
    font-weight: bold;
}

.section-item-subtitle {
    font-style: italic;
    padding-left: 10px;
}

.section-item-link {
    font-size: 14px;
    font-weight: initial;
}

.divider {
    font-family: "Courier New", monospace;
    color: rgb(29, 48, 29);
    margin-top: 12px;
    margin-bottom: 12px;
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

li {
    padding-left: 1.7em;
    text-indent: -1.7em;
}

li::before {
    content: ">>";
    padding-right: 8px;
    color: var(--accent-color);
    font-family: "Courier New", monospace;
    vertical-align: top;
    font-size: 10pt;
    padding-top: 1pt;
}

.indent {
    margin-left: 20px;
}

.mobile-show {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-show {
        display: initial;
    }

    .mobile-hide {
        display: none;
    }

    .controls {
        width: 100%;
        height: 55px;
        border-radius: 5px 5px 0 0;
        bottom: 0;
        box-sizing: border-box;
    }

    .control-container {
        float: none;
        display: inline-block;
    }

    .control-zoomslider-container {
        width: initial;
        float: none;
        display: inline-block;
    }

    #control-zoomslider {
        height: 10px;
        width: 100px;
        writing-mode: initial; /* IE */
        -webkit-appearance: initial; /* WebKit */
    }
}

@media print {
    :root {
        --scale-factor: 1;
    }

    body {
        min-width: initial;
    }

    .controls {
        display: none;
    }

    .page, .page:last-of-type {
        margin: 0;
        box-shadow: initial;
    }

    /* a {
        color: black;
        text-decoration: none;
    } */
}